##pip freeze > requirements.txt
##pip install -r requirements
##python -m pip install -r requirements.txt
asgiref
Django
django-jazzmin
django-js-asset
Pillow
sqlparse
djangorestframework
gunicorn
django-mathfilters==1.0.0
unidecode==0.4.9
reportlab
PyPDF2
