
{% extends 'index.html' %}
{% load mathfilters %}

{%block content%}
  <!-- <div class="row row-deck row-cards"> -->

<!-- document analitics -->

  
    {% include 'common/_docs_main.html' %}
    {% include 'common/_full_stats.html' %}
    
    

    <!-- last documents -->
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 style="margin-bottom: inherit;">Последние документы</h2>
        </div>
        
        {% include 'common/_documents_table.html' %}

      </div>
      <div class="mt-5">
        
      </div>
    </div>
    {% include 'common/_logs_table.html' %}

  </div>
</div>
</div>



{%endblock%}