
{% extends 'index.html' %}
{% load mathfilters %}

{%block content%}
  <div class="row row-deck row-cards">

<!-- document analitics -->
<div class="col-md-12 col-lg-12 mt-5 mb-5">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Аналитика документов в системе</h3>
    </div>
    <table class="table card-table table-vcenter">
      <thead>
        <tr>
          <th>Название документов</th>
          <th>Всего документов</th>
          <th>Подписано / не подписано<br> клиентами</th>
          <th>Подписано / не подписано<br> врачами</th>
        </tr>
      </thead>
      <tbody>
        {% for type in types %}
          <tr>
            <td><a href="{%url 'documents' %}?doc_type={{type.type_document.lower}}">{{type.title}}</a></td>
            <td>{{type.document.count}}</td>
            <td>{{type.signed_by_patient}} / {{type.document.count|sub:type.signed_by_patient}}</td>
            <td>{{type.signed_by_us}} / {{type.document.count|sub:type.signed_by_us}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

    {%if request.user.is_superuser == True%}

      <!-- statistics -->
      <div class="index-statistics mb-5">
      <div class="row">
        <div class="col-sm-12 mb-3">
          <div class="top-info-line text-muted" style="justify-content:center; font-size:1.7rem;padding:10px">Статистика</div>
        </div>
      </div>
      <div class="row mb-5">

        <div class="col-sm-4" style="display:flex; flex-direction:column; gap: 10px">
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'administrators' %}">Aдминов в системе</a>
            </span>
            <span class='top-info-line-value'>{{all_admins}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=ad-true">Количество документов, <br>подписанных админами</a>
            </span>
            <span class='top-info-line-value'>{{docs_signed_by_admins}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=ad-false">Количество документов, <br>не подписанных админами</a> 
            </span>
            <span class='top-info-line-value'>{{docs_not_signed_by_admins}}</span>
          </div>
        </div>
        
        
        <div class="col-sm-4" style="display:flex; flex-direction:column; gap: 10px">
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'doctors' %}">Врачей в системе:</a>
            </span>
            <span class='top-info-line-value'>{{all_doctors}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=do-true">Количество документов, <br>подписанных врачами</a>
            </span>
            <span class='top-info-line-value'>{{docs_signed_by_doctors}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=do-false">Количество документов, <br>не подписанных врачами</a>
            </span>
            <span class='top-info-line-value'>{{docs_not_signed_by_doctors}}</span>
          </div>
        </div>
        


        <div class="col-sm-4" style="display:flex; flex-direction:column; gap: 10px">
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'allclients' %}">Клиентов в системе:</a>
            </span>
            <span class='top-info-line-value'>{{all_clients}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=cl-true">Количество документов, <br>подписанных клиентами</a>
            </span>
            <span class='top-info-line-value'>{{docs_signed_by_clients}}</span>
          </div>
          <div class="top-info-line">
            <span class="text-muted">
              <a href="{% url 'documents' %}?signed=cl-false">Количество документов, <br>не подписанных клиентами</a>
            </span>
            <span class='top-info-line-value'>{{docs_not_signed_by_clients}}</span>
          </div>
        </div>
      </div>
  
    {%elif request.user.profile.role.title == 'Врач'%}
    {%else%}
    {%endif%}
    
    

    <!-- last documents -->
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 style="margin-bottom: inherit;">Последние документы</h2>
        </div>
        <div class="card-body border-bottom py-3">
          <div class="d-flex">
          </div>
        </div>
        {% include 'common/_documents_table.html' %}

      </div>
      <div class="mt-5">
        
      </div>
    </div>

    {% include 'common/_logs_table.html' %}

  </div>
</div>
</div>



{%endblock%}