{% extends 'index.html' %}
{%block content%}
              <div class="col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Аналитика документов - {{all_documents_type}}</h3>
                  </div>
                  <table class="table card-table table-vcenter">
                    <thead>
                      <tr>
                        <th>Название документов</th>
                        <th colspan="2">Количество</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Договор</td>
                        <td>{{contract}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>ИДС</td>
                        <td>{{ids}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 35.96%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Мед карта</td>
                        <td>{{medcard}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 24.9%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Адм.карт</td>
                        <td>{{admcard}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 19.72%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Справка в налоговую</td>
                        <td>{{rent}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 17.08%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>План лечения</td>
                        <td>{{plan}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 13.0%"></div>
                          </div>
                        </td>
                      </tr>
<!--                      <tr>-->
<!--                        <td>Pinterest</td>-->
<!--                        <td>420</td>-->
<!--                        <td class="w-50">-->
<!--                          <div class="progress progress-xs">-->
<!--                            <div class="progress-bar bg-primary" style="width: 8.4%"></div>-->
<!--                          </div>-->
<!--                        </td>-->
<!--                      </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12"style="padding:60px 0px 0px 0px;">
                <div class="card">
                  <div class="card-header">
                    <h2 style="margin-bottom: inherit;">Активные документы</h2>
                  </div>
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                      <thead>
                        <tr>
                          <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm text-dark icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
                          </th>
                          <th>Тип документа</th>
                          <th>Врач</th>
                          <th>Клиент</th>
                          <th>Дата</th>
                          <th>Статус клиента</th>
                          <th>Статус врача</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {%for document in all_active_documents%}
                        <tr>
                          <td><span class="text-muted">{{document.id}}</span></td>
                          <td><span class="text-muted">{{document.type}}</span></td>
                          <td><a href="{%url 'user' document.sender.pk %}" class="text-reset" tabindex="-1">{{document.sender.first_name}} {{document.sender.last_name}}</a></td>
                          <td>
                            <a href="{% url 'user' document.recipient.pk %}">{{document.recipient.first_name}} {{document.recipient.last_name}}</a>
                          </td>
                          <td>
                            {{document.send_date}}

                          </td>
                          <td>
                            {%if document.recipient_status%}
                            <span class="badge bg-success me-1"></span>
                            Подписан
<!--                            - Клиентом-->
                            {%else%}
                            <span class="badge bg-danger me-1"></span>
                            Не подписан
<!--                            - Клинетом-->
                            {%endif%}

                          </td>
                          <td>
                            {%if document.sender_status%}
                            <span class="badge bg-success me-1"></span>
                            Подписан
<!--                            - Врачом-->
                            {%else%}
                            <span class="badge bg-danger me-1"></span>
                            Не Подписан
<!--                            - Врачом-->
                            {%endif%}

                          </td>
                          <td class="text-end">
                            {%if document.sender_status == False and document.sender == request.user or document.recipient_status == False and document.recipient == request.user%}
                             <span class="dropdown">
                              <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">
                                Действия
                              </button>
                              <div class="dropdown-menu dropdown-menu-end">
                                {% include 'common/_dropdown_sign_button.html' %} 
                                <a class="dropdown-item" href="{{document.document.url}}#" download>
<!--                                  Anotheraction-->
                                  Скачать документ
                                </a>
                                <a class="dropdown-item" href="{{document.document.url}}#">
<!--                                  Anotheraction-->
                                  Просмотеть документ
                                </a>
                              </div>
                            </span>
                            {%else%}
                             <span class="dropdown" style="height: 2.4rem;width: 2.4rem;display: flex;justify-content: center;width: 100%;align-items: center;color: #0ea36d;">
                               <!-- Download SVG icon from http://tabler-icons.io/i/checkbox -->
                               <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                             </span>
                            {%endif%}
                          </td>
                        </tr>
                      {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{%endblock%}