{% extends 'index.html' %}
{%block content%}
              <div class="col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Аналитика документов - {{all_documents_type}}</h3>
                  </div>
                  <table class="table card-table table-vcenter">
                    <thead>
                      <tr>
                        <th>Название документов</th>
                        <th colspan="2">Количество</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Договор</td>
                        <td>{{contract}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>ИДС</td>
                        <td>{{ids}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 35.96%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Мед карта</td>
                        <td>{{medcard}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 24.9%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Адм.карт</td>
                        <td>{{admcard}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 19.72%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Справка в налоговую</td>
                        <td>{{rent}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 17.08%"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>План лечения</td>
                        <td>{{plan}}</td>
                        <td class="w-50">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-primary" style="width: 13.0%"></div>
                          </div>
                        </td>
                      </tr>
<!--                      <tr>-->
<!--                        <td>Pinterest</td>-->
<!--                        <td>420</td>-->
<!--                        <td class="w-50">-->
<!--                          <div class="progress progress-xs">-->
<!--                            <div class="progress-bar bg-primary" style="width: 8.4%"></div>-->
<!--                          </div>-->
<!--                        </td>-->
<!--                      </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-12"style="padding:60px 0px 0px 0px;">
                <div class="card">
                  <div class="card-header">
                    <h2 style="margin-bottom: inherit;">Активные документы</h2>
                  </div>
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex">
                    </div>
                  </div>
                  {% include 'common/_documents_table.html' %}

                </div>
              </div>
            </div>
          </div>
        </div>

{%endblock%}