<!DOCTYPE html>{%load static%}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <link href="{%static './dist/css/tabler.min.css'%}" rel="stylesheet" />
  <link href="{%static './dist/css/tabler-flags.min.css'%}" rel="stylesheet" />
  <link href="{%static './dist/css/tabler-payments.min.css'%}" rel="stylesheet" />
  <link href="{%static './dist/css/tabler-vendors.min.css'%}" rel="stylesheet" />
  <link href="{%static './dist/css/demo.min.css'%}" rel="stylesheet" />
  <style>
    .mb-3 input {
      display: block;
      width: 100%;
      padding: 0.4375rem 0.75rem;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.4285714;
      color: inherit;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #d9dbde;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 4px;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-check .form-check-input {
      float: left;
      margin-left: -1.5rem;
      height: 6px;
      width: 6px;
      margin: 0px 14px 0px 0px;
    }
  </style>
</head>

<body class=" border-top-wide border-primary d-flex flex-column">
  <form action="" method="post">
    <!--  {%csrf_token%}-->
    <!--  {{form.as_p}}-->
    <!--  <button type="submit">Регистрация</button>-->
  </form>





  <div class="page page-center">
    <div class="container-tight">
      <div class="text-center">

        <a href="." class="navbar-brand navbar-brand-autodark"><img width=90px height=33px
            src="/static/images/signo_logo.png">
        </a>

      </div>
      <form action="" method="post" class="card card-md">
        {%csrf_token%}

        <div class="card-body" style="overflow: hidden;overflow-y: auto;height: 79vh;">
          <h2 class="card-title text-center mb-4">РЕГИСТРАЦИЯ</h2>

          <div class="mb-3">
            <label class="form-label">Электронная почта</label>
            {{form.email}}
          </div>
          {{form.username.errors}}

          <div class="mb-3">
            <label class="form-label">Фамилия</label>
            {{form.last_name}}
          </div>
          {{form.last_name.errors}}

          <div class="mb-3">
            <label class="form-label">Имя</label>
            {{form.first_name}}
          </div>
          {{form.first_name.errors}}


          <div class="mb-3">
            <label class="form-label">Отчество</label>
            {{form.patronymic}}
          </div>
          {{form.patronymic_name.errors}}

          <div class="mb-3">
            <label class="form-label">Серия паспорта</label>
            {{form.pasport_series}}

          </div>
          {{form.pasport_series.errors}}
          <div class="mb-3">
            <label class="form-label">Номер паспорта</label>
            {{form.pasport_number}}

          </div>
          {{form.pasport_number.errors}}
          <div class="mb-3">
            <label class="form-label">Телефон</label>
            {{form.phone}}

          </div>
          {{form.phone.errors}}

          <div class="mb-3">
            <label class="form-label">Дата Рождения</label>
            {{form.date_of_birthday}}

          </div>
          <div class="mb-3">

            {{form.email.errors}}
            <div class="mb-2">
              <label class="form-label">
                Пароль

              </label>
              <div class="input-group input-group-flat">
                <!--                <input type="password" class="form-control"  placeholder="Пароль"  autocomplete="off">-->
                {{form.password1}}

              </div>

            </div>
            {{form.password1.errors}}
            <div class="mb-2">
              <label class="form-label">
                Повторите пароль

              </label>
              <div class="input-group input-group-flat">
                {{form.password2}}

              </div>
            </div>
            <div style='color:red'>
              {{form.password2.errors}}
            </div>
            <div class="mb-2" style="display:flex; ">
              <input id='remember-me-checkbox' type="checkbox" class="form-check-input"
                style='padding:0; height:1rem; width:1rem' />
              <label for='remember-me-checkbox' class="form-check">Запомнить меня на этом устройстве</label>

            </div>
            <div class="form-footer">
              <!--              <button type="submit" class="btn btn-primary w-100">Войти</button>-->
              <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </div>
          </div>

      </form>
      <div class="text-center text-muted mt-3">

        Зарегистрированы?<a href="{%url 'login'%}" tabindex="-1">Войти</a>
      </div>
    </div>
  </div>

  <!-- Libs JS -->
  <script src="{%static './dist/js/tabler.min.js'%}"></script>
  <script src="{%static './dist/js/demo.min.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script src="{% static '/js/jquery.maskedinput.min.js' %}"></script>


  <script>
    $(document).on('DOMContentLoaded', function () {
      $('#id_phone').mask('+7 999 999-99-99')
    })
  </script>
</body>

</html>