{% extends 'index.html' %}{%load static%}
{%block content%}
{%if user.type == 'CL'%}
    <center><h1 style="height:60px;">{{user.first_name}} {{user.last_name}} {{user.patronymic}}</h1></center>
<div class="user-info"id="user-info active"><a href="{%url 'user' user.pk%}"class="">Профиль</a><a href="{%url 'user_docs' user.pk%}"class="active">Документы</a></div>
{%else%}
    <center><h1 style="height:60px;">{{user.first_name}} {{user.last_name}} {{user.patronymic}}</h1></center>
<div class="user-info"id="user-info active"><a href="{%url 'user' user.pk%}"class="">Профиль</a><a href="{%url 'user_docs' user.pk%}"class="active">Пациенты</a></div>
{%endif%}

<div class="col-12">

    {%if user.type == 'CL'%}
      {% include 'common/_info_box_users.html' %}
      {% include 'common/_documents_table.html' %}
    {%else%}
      {% include 'common/_documents_table_user.html' %}
    {%endif%}

<!--                  <div class="card-footer d-flex align-items-center">-->
<!--&lt;!&ndash;                    <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul class="pagination m-0 ms-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item disabled">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&ndash;&gt;-->
<!--&lt;!&ndash;                          &lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/chevron-left &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                          prev&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                      </li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item"><a class="page-link" href="#">1</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item active"><a class="page-link" href="#">2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item"><a class="page-link" href="#">3</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item"><a class="page-link" href="#">4</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item"><a class="page-link" href="#">5</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                      <li class="page-item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="page-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                          next &lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/chevron-right &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                      </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--                  </div>-->
                </div>
              </div>



{%endblock%}