{% extends 'index.html' %}{%load static%}
{%block content%}
{%if user.type == 'CL'%}
    <center><h1 style="height:60px;">{{user.first_name}} {{user.last_name}} {{user.patronymic}}</h1></center>
<div class="user-info"id="user-info active"><a href="{%url 'user' user.pk%}"class="">Профиль</a><a href="{%url 'user_docs' user.pk%}"class="active">Документы</a></div>
{%else%}
    <center><h1 style="height:60px;">{{user.first_name}} {{user.last_name}} {{user.patronymic}}</h1></center>
<div class="user-info"id="user-info active"><a href="{%url 'user' user.pk%}"class="">Профиль</a><a href="{%url 'user_docs' user.pk%}"class="active">Пациенты</a></div>
{%endif%}

<div class="col-12">

    {%if user.type == 'CL'%}
      {% include 'common/_info_box_users.html' %}
      {% include 'common/_documents_table.html' %}
    {%else%}
      {% include 'common/_documents_table.html' %}
    {%endif%}

                </div>
              </div>



{%endblock%}