<div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Мои документы</h3>
      </div>
      <table class="table card-table table-vcenter">
        <thead>
          <tr>
            <th>Название документов</th>
            <th colspan="2">Количество</th>
          </tr>
        </thead>
        <tbody>
          {% for type in types %}
            <tr>
              <td><a href="{%url 'mydocuments' %}?doc_type={{type.type_document.lower}}">{{type.title}}</a></td>
              <td>{{type.signed_by_me}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>