<div class="table-responsive">
    <table class="table card-table table-vcenter text-nowrap datatable bg-white">
      <thead>
        <tr>
          <th id="th-date" class='sortable-table-header' onclick="filterByField('pub_date')">Дата</th>
          <th id="th-time">Время</th>
          <th id="th-action" class='sortable-table-header' onclick="filterByField('action')">Действие</th>
        </tr>
      </thead>
      <tbody>
      {% for action in actions %}
        <tr>
          <td>{{action.pub_date|date:"d M Y" }}</td>
          <td>{{action.pub_date|date:'H:i' }}</td>
          <td>{{action.action }}</td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
  </div>