{% load static %}


<div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th id="th-last_name" class='sortable-table-header' onclick="filterByField('last_name')">ФИО</th></th>
              <th id="th-type" class="sortable-table-header" onclick="filterByField('type')">Роль</th>
              <th id="th-signed_docs" class='sortable-table-header' onclick="filterByField('signed_docs')">Подписанных<br> док-тов</th>
              <th id="th-not_signed_docs" class='sortable-table-header' onclick="filterByField('not_signed_docs')">Неподписанных<br> док-тов</th>
              <th id="th-number_of_patients" class='sortable-table-header' onclick="filterByField('number_of_patients')">Кол-во<br> пациентов</th>

              <th id="th-date_joined" class='sortable-table-header' onclick="filterByField('date_joined')">Регистрация</th>
              <th id="th-ban_date" class='sortable-table-header' onclick="filterByField('ban_date')">Увольнение</th>

              <th id="th-ecp" class='sortable-table-header' onclick="filterByField('ecp')">ЭЦП</th>
              <th id="th-ban" class='sortable-table-header' onclick="filterByField('ban')">Статус</th>

              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody class="lazy-loading-users">
          
            {% for user in users %}
                <tr class="lazy-row-users">
                    <td>
                        <a href="{%url 'user' user.id%}"><div class="font-weight-medium">{{user.first_name}} {{user.last_name}}</div></a>
                        <div class="text-muted"><a href="#" class="text-reset">{{user.email}}</a></div> 
                    </td>
                    <td>
                        <div>{{ user.get_type_display }}</div>
                    </td>
                    <td>
                        <div>{{ user.signed_docs }}</div>
                    </td>
                    <td>
                        <div>{{ user.not_signed_docs}}</div>
                    </td>
                    <td>
                        <div>{{ user|number_of_patients }}</div>
                    </td>
                    <td>
                        <div>{{ user.date_joined }}</div>
                    </td>
                    <td>
                      {% if user.ban %}
                        <div>{{ user.ban_date|date }}</div>
                      {% endif  %}
                  </td>
                    <td>
                        <div>{% if user.ecp %}Да{% else %} Нет {% endif %}</div>
                    </td>
                    <td>
                        <div>{% if user.ban %}Уволен{% else %}Действующий{% endif %}</div>
                    </td>    
                </tr>
          {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
  </div>

  {% if users.has_next %}
    <a hidden class='pagination__next' href="{% update_query_params page=users.next_page_number %}">next</a>
    <script type="text/javascript" src="{% static '/js/infinite-scroll/infi-scroll.js' %}"></script>
    <script>
      infi_scroll('.lazy-loading-users', '.lazy-row-users')
    </script>
  {% endif %}

  <script type="text/javascript" src="{% static '/js/user_filters.js' %}"></script>
