<thead>
    <tr>
      <th id="th-last_name" class='sortable-table-header' onclick="filterByField('last_name')">ФИО</th>
      <th id="th-id" class='sortable-table-header' onclick="filterByField('id')">ID
      </th>
      <th id="th-date_joined" class='sortable-table-header' onclick="filterByField('date_joined')">Регистрация</th>
      <th id="th-last_login" class='sortable-table-header' onclick="filterByField('last_login')">Последнее изменение</th>
      <th>Телефон</th>
      <th id="th-signed_docs" class='sortable-table-header' onclick="filterByField('signed_docs')">Подписанных<br> док-тов</th>
      <th id="th-not_signed_docs" class='sortable-table-header' onclick="filterByField('not_signed_docs')">Неподписанных<br> док-тов</th>
      <th class="w-1"></th>
    </tr>
  </thead>