<div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-vcenter card-table">
          <thead>
            <tr>
              <th id="th-last_name" class='sortable-table-header' onclick="filterByField('last_name')">ФИО</th>
              <th id="th-id" class='sortable-table-header' onclick="filterByField('id')">ID
              </th>
              <th id="th-date_joined" class='sortable-table-header' onclick="filterByField('date_joined')">Регистрация</th>
              <th id="th-last_login" class='sortable-table-header' onclick="filterByField('last_login')">Последнее изменение</th>
              <th>Телефон</th>
              <th id="th-signed_docs" class='sortable-table-header' onclick="filterByField('signed_docs')">Подписанных<br> док-тов</th>
              <th id="th-not_signed_docs" class='sortable-table-header' onclick="filterByField('not_signed_docs')">Неподписанных<br> док-тов</th>
              <th class="w-1"></th>
            </tr>
          </thead>
          <tbody>
          {%for user in users%}
          <tr>
              <td>
                <div class="d-flex py-1 align-items-center">
                  <span class="avatar me-2" style="background-image: url({{user.profile.photo.url}})"></span>
                  <div class="flex-fill">
                      <a href="{%url 'user_docs' user.id%}"><div class="font-weight-medium">{{user.first_name}} {{user.last_name}}</div></a>
                    <div class="text-muted"><a href="#" class="text-reset">{{user.email}}</a></div>
                  </div>
                </div>
              </td>
              <td>
                <div>{{ user.id }}</div>
              </td>
              <td>
                <div>{{ user.date_joined }}</div>
              </td>
              <td>
                <div>{{ user.last_login }}</div>
              </td>
              <td>
                <div>{{ user.phone }}</div>
              </td>
              <td>
                <div>{{ user.signed_docs }}</div>
              </td>
              <td>
                <div>{{ user.not_signed_docs }}</div>
              </td>
              
            </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>