{%extends 'index.html'%}
{%block content%}

{% include 'common/_info_box_users.html' %}
<div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-vcenter card-table">
                      <thead>
                        <tr>
                          <th>ФИО</th>
<!--                          <th>Title</th>-->
                          <th>Специальность</th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                      {%for user in users %}
                                              <tr>
                          <td>
                            <div class="d-flex py-1 align-items-center">
                              {% if user.photo %}
                                <img width=40px height=40px src="{{user.photo.url}}" style="margin-right:5px">
                              {% endif %}                              
                              <div class="flex-fill">
                                <div class="font-weight-medium">{{user.first_name}} {{user.last_name}}</div>
                                <div class="text-muted"><a href="#" class="text-reset">{{user.email}}</a></div>
                              </div>
                            </div>
                          </td>
<!--                          <td>-->
<!--                            <div>Automation Specialist IV</div>-->
<!--                            <div class="text-muted">Accounting</div>-->
<!--                          </td>-->
                          <td class="text-muted">
                            {{user.profile.role.title}}
                          </td>
                          <td>
                            <a href="#">Редактировать</a>
                          </td>
                        </tr>
                      {%endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
{%endblock%}