<div class='info-box mb-3' style="padding:20px">
                      
    <div class="row ">
    <!-- <div style="display:flex; gap:20px"> -->
      <div class="col-sm-4">
        <select id='search-date-select' onchange='clear_date(); filter_users()' class="form-select">
          <option value="">за все время</option>
          <option value="7">за 7 дней</option>
          <option value="30">за этот месяц</option>
          <option value="60">за прошлый месяц</option>
        </select>
      </div>
  
      <div class="col-sm-4">
        <input id='users-search-start-date' type="date" class="form-control">
      </div>
      <div class="col-sm-4">
        <input id='users-search-end-date' type="date" class="form-control">
      </div>
    </div>
  <div class="row mt-3">
    {% if 'staff/' in request.path %}<div class="col-sm-4">{% else %}<div class="col-sm-8">{% endif %}      
      <input id='table-search-field' type="text" class='form-control' placeholder="Введите имя пользователя...">
    </div>
    {% if 'staff/' in request.path %}
    <div class="col-sm-4">
      <select id='table-search-user-type' onchange='filter_users()' class="form-select">
        <option value="DO">Доктор</option>
        <option value="AD">Администратор</option>
      </select>
    </div>
    {% endif %}
    <div class="col-sm-4">
      <button id='users-search-button' onclick='filter_users()' class="btn btn-outline-primary" style="width:100%">Найти</button>
    </div>
  </div>
  </div>

  <script>
    document.getElementById('users-search-end-date').valueAsDate = new Date();
  </script>